<section>

    <header class="articles-index-header">
        <h1 class="pull-left">Articles</h1>
        <div class="pull-right create-new-article"><a href="<%= new_article_path %>" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-pencil"></span></a></div>
    </header>

    <div class="list-group">
        <% @articles.each do |article| %>
        <a href="<%= article_path(article) %>" class="list-group-item clearfix" id="<%= article.id %>">
            <div class="flex">
                <div class="-item">
                    <h4 class="list-group-item-heading"><%= article.title %></h4>
                    <p class="list-group-item-text"><%= article.text %></p>
                </div>
                <% unless article.comments.empty? %>
                <p class="-item article-comment">
                    <span class="glyphicon glyphicon-comment"></span>
                    <span class="small -count"><%= article.comments.length %></span>
                </p>
                <% end %>
                <div class="-item-icon48">
                    <div type="button" class="btn btn-info btn-edit" data-link="<%= edit_article_path(article) %>" onclick="location.pathname = this.getAttribute('data-link')"><span class="glyphicon glyphicon-edit"></span></div>
                </div>
            </div>
        </a>
        <% end %>
    </div>

</section>
