<section>

    <header class="articles-index-header">
        <h1 class="pull-left"><%= @article.title %></h1>
    </header>

    <article>
        <p><%= @article.text %></p>
    </article>

    <section>
        <h2>Comments</h2>
        <%= render @article.comments %>
    </section>

    <section>
        <h2>Add a comment:</h2>
        <div class="well">
            <%= render "comments/form" %>
        </div>
    </section>

</section>

<footer>
    <div class="pull-left">
        <p><a href="<%= articles_path %>" class="btn btn-default">Back</a></p>
    </div>
</footer>
