<section>

    <header class="articles-index-header">
        <h1 class="pull-left"><%= @article.title %></h1>
    </header>

    <article>
        <p><%= @article.text %></p>
    </article>

    <section>
        <h2>Comments</h2>
        <% @article.comments.each do |comment| %>
            <dl>
                <dt>Commenter: <%= comment.commenter %></dt>
                <dd>Comment: <%= comment.body %></dd>
            </dl>
        <% end %>
    </section>

    <section>
        <h2>Add a comment:</h2>
        <%= form_for([@article, @article.comments.build]) do |f| %>

            <div class="form-group">
                <%= f.label :commenter %>
                <%= f.text_field :commenter, :class => 'form-control' %>
            </div>

            <div class="form-group">
                <%= f.label :body %>
                <%= f.text_area :body, :class => 'form-control' %>
            </div>

            <div class="clearfix">
                <div class="pull-right"><%= f.submit 'add a comment', {:class => 'btn btn-primary btn-lg'} %></div>
            </div>

        <% end %>

    </section>

</section>

<footer>
    <div class="pull-left">
        <p><a href="<%= articles_path %>" class="btn btn-default">Back</a></p>
    </div>
</footer>
